<section>
  <div class="container py-5">
    <div class="imageContainer">
      <img
        src="data:image/png;base64,{{ user.avatar }}"
        alt="profile image"
        *ngIf="isImageUploaded"
      />
      <img
        src="../../../assets/images/profile.jfif"
        alt="profile image"
        *ngIf="!isImageUploaded"
      />
    </div>

    <h4 class="mb-4 text-center">welcome {{user.name}}</h4>

    <div class="row">
      
        <p class="col-8">Add new task to your list</p>
        <a routerLink="/addTask" class="col-4 mb-3">
          <button type="button" class="btn btn-primary">Add task</button>
        </a>
      
        <p class="col-8">View all your tasks</p>
        <a routerLink="/tasks" class="col-4 mb-3">
          <button type="button" class="btn btn-primary">view tasks</button>
        </a>
      
        <p class="col-8">Update your profile</p>
        <a routerLink="/updateProfile" class="col-4 mb-3">
          <button type="button" class="btn btn-primary">Updata profile</button>
        </a>
     
        <p class="col-8">Delete your profile image</p>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mb-3" (click)="deleteImage()">
            Delete
          </button>
        </div>
     
    </div>
  </div>
</section>
