<section>
  <div class="container my-5 py-4">
    <form
      #signUpForm="ngForm"
      (ngSubmit)="signUp(signUpForm.value)"
      class="w-75 mx-auto"
    >
      <!-- name -->
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          name="name"
          type="text"
          class="form-control"
          id="name"
          ngModel
          #name="ngModel"
          required
          minlength="3"
        />
      </div>

      <!-- error messages for name-->
      <div *ngIf="name.touched && name.invalid" class="alert alert-danger mb-3">
        <div *ngIf="name.errors?.['required']">First name is required</div>
        <div *ngIf="name.errors?.['minlength']">
          First name min length is
          {{name.errors?.['minlength'].requiredLength}} ...you entered only
          {{name.errors?.['minlength'].actualLength}}
        </div>
      </div>
      <!-- age -->
      <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input
          name="age"
          type="number"
          class="form-control"
          id="age"
          ngModel
          #age="ngModel"
          required
          (focus)="removeAgeMsg()"
        />
      </div>

      <!-- error messages for age-->
      <div *ngIf="age.touched && age.invalid" class="alert alert-danger mb-3">
        <div *ngIf="age.errors?.['required']">Age is required</div>
      </div>
      <!-- backend error -->
      <div class="alert alert-danger" *ngIf="!age.errors?.['required'] && invalidAge">
        Age should be > 0
      </div>
      <!-- email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          name="email"
          type="email"
          class="form-control"
          id="email"
          ngModel
          #email="ngModel"
          required
          email
          (focus)="removeEmailMsg()"
        />
      </div>

      <!-- error messages for email -->
      <div *ngIf="email.touched && email.invalid" class="alert alert-danger mb-3">
        <div *ngIf="email.errors?.['required']">Email is required</div>
        <div *ngIf="email.errors?.['email']">Please enter a valid email!</div>
      </div>
      <!-- backend error -->
      <div *ngIf="invalidEmail" class="alert alert-danger">Sorry, email already exist</div>

      <!-- password -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          ngModel
          #password="ngModel"
          required
          minlength="6"
        />
      </div>

      <!-- error messages for password-->
      <div *ngIf="password.touched && password.invalid" class="alert alert-danger mb-3">
        <div *ngIf="password.errors?.['required']">Password is required</div>
        <div *ngIf="password.errors?.['minlength']">
          password min length is
          {{password.errors?.['minlength'].requiredLength}} ...you entered only
          {{password.errors?.['minlength'].actualLength}}
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-warning w-100"
        [disabled]="signUpForm.invalid"
      >
        Sign up
      </button>
    </form>
  </div>
</section>
