<section>
  <div class="container p-4">
<form #updateUserForm='ngForm' (ngSubmit)='updateUser(updateUserForm.value)'>
    <div class="mb-3">
      <label for="name" class="form-label">Edit Name</label>
      <input 
      type="text" 
      class="form-control" 
      id="name"
      name='name'
      ngModel
      #name='ngModel'
      required
      minlength="3"
      [(ngModel)]='user.name'
      >
    </div>

    <!-- error messages for name-->
    <div *ngIf="name.touched && name.invalid" class='alert alert-danger mb-3'>
      <div *ngIf="name.errors?.['required']">name is required</div>
      <div *ngIf="name.errors?.['minlength']">
          First name min length is {{name.errors?.['minlength'].requiredLength}}
       ...you entered only {{name.errors?.['minlength'].actualLength}}
      </div>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Edit profile image</label>
      <input 
      type='file' 
      accept="image/*" 
      (change)='handleUpload($event)' 
      name='avatar'
      id='image'
      class="form-control" 
      >
    </div>

    <button 
      type="submit" 
      class="btn btn-warning w-100" 
      [disabled]='updateUserForm.invalid'>
      Update
    </button>
  </form>
</div>
</section>
