<section>
  <div class="container">
    <form
      #updateTaskForm="ngForm"
      (ngSubmit)="updateTask(updateTaskForm.value)"
    >
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input
          type="email"
          class="form-control"
          id="description"
          name="description"
          ngModel
          #description="ngModel"
          required
          [(ngModel)]="task.description"
        />
      </div>

      <div class="mb-3 form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="completed"
          name="completed"
          [(ngModel)]="task.completed"
        />
        <label class="form-check-label" for="completed">completed</label>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="updateTaskForm.invalid"
      >
        Update
      </button>
    </form>
  </div>
</section>
