<section>
  <div class="table-container py-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Completed</th>
          <th scope="col">Delete task</th>
          <th scope="col">Update task</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of allTasks; let i = index">
          <td>{{ task.description }}</td>
          <td>{{ task.completed }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteTask(task)">
              delete
            </button>
          </td>
          <td>
            <a routerLink="/update/{{ task._id }}">
              <button class="btn btn-warning">update</button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
