<section>
  <div class="container">
  <div class="form-container p-4">
  <form #addTaskForm="ngForm" (ngSubmit)="addTask(addTaskForm.value)">
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input
        type="email"
        class="form-control"
        id="description"
        name="description"
        ngModel
        #description="ngModel"
        required
        [(ngModel)]="task.description"
      />
    </div>

    <div class="mb-3 form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="completed"
        name="completed"
        [(ngModel)]="task.completed"
      />
      <label class="form-check-label" for="completed">completed</label>
    </div>
    <button
      type="submit"
      class="btn btn-warning w-100"
      [disabled]="addTaskForm.invalid"
    >
      Add Task
    </button>
  </form>
</div>
</div>
</section>
