/* You can add global styles to this file, and also import other style files */
section{
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control.ng-invalid.ng-touched{
    border:1px solid red;
}

.container{
    width:90%;
    margin: 3rem auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1.2rem;
    color:#fff;
}

@media screen and (min-width:768px){
    .container{
        width:60%;
    }
}

@media screen and (min-width:992px){
    .container{
        width:45%;
    }
}

